
body{
    max-width: 640px;
    margin: auto;
    background-color: #f5f5f5;
}
.HB2maxBox{
    padding-top: 1px;
}
.HB2maxBox .HBtop{
    margin-top: 18px;
}
.HB2maxBox .HBcontent{
    margin-top: 21px;
}
.HB2maxBox .HBcontent .checkboxDiv{
    margin-top: 15px;
}
.HB2maxBox .HBcontent .checkboxDiv .radioA{
    margin-top: 10px;
}
.HB2maxBox .HBcontent .checkboxDiv .checkbox{
    margin-left: 2%;
}
.HB2maxBox .HBcontent .checkboxDiv .checkbox:first-child{
    margin-left: 0;
}
.HB2maxBox .HBcontent .checkboxDiv .radioA .txt2{
    color: #666666;
}
.HBcontent .BlineInput{
    height: 16px;
    width: calc(100% - 66px);
    width: -moz-calc(100% - 66px);
    width: -webkit-calc(100% - 66px);
    width: -ms-calc(100% - 66px);
    width: -o-calc(100% - 66px);
}
.HBcontent  .timeAndName{
width: 100%;
}

.HBcontent  .timeAndName .dataA,.HBcontent  .timeAndName .nameA{
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    border: none;
    outline: none;
    background-color: transparent;
    height: 30px;
    text-align: center;
/*     width: calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: -ms-calc(50% - 20px);
    width: -o-calc(50% - 20px);
    width: -webkit-calc(50% - 20px); */
    border-bottom: 1px solid #e6eaee;
    box-sizing: border-box;
    margin-left: 5px;

}
.HBcontent  .timeAndName .nameA{
	width: calc(40% - 20px);
    width: -moz-calc(40% - 20px);
    width: -ms-calc(40% - 20px);
    width: -o-calc(40% - 20px);
    width: -webkit-calc(40% - 20px);
}
.HBcontent  .timeAndName .dataA{
	width: calc(60% - 20px);
    width: -moz-calc(60% - 20px);
    width: -ms-calc(60% - 20px);
    width: -o-calc(60% - 20px);
    width: -webkit-calc(60% - 20px);
}
.HBcontent  .timeAndName .cancel,.HBcontent  .timeAndName .add{
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-left: 0px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: cover;
}
.HBcontent  .timeAndName .childInfo{
    margin-top: 10px;
    margin-bottom: 10px;
}
.HBcontent  .timeAndName .childInfo:first-child{
    margin-top: 15px;
}
.HBcontent  .timeAndName .childInfo:last-child{
    margin-bottom: 20px;
}
.HBcontent  .timeAndName .cancel{
    background-image: url("../img/HB/cancel.png");
}
.HBcontent  .timeAndName .add{
    background-image: url("../img/HB/add.png");
}
.HBcontent  .timeAndName .dataA{

}
.HBcontent{
    padding-top: 0px;
    padding-bottom: 105px;
    position: relative;
}
.HBcontent .title{
    text-align: center;
    font-size: 21px;
    color: #333333;
    margin-top: 10px;
}
.HBcontent:before{
    content: "";
    position: absolute;
    right: -1px;
    width: 48px;
    top: -1px;
    height: 48px;
    background-size: cover;
    background-image: url(../img/HB/DA.png);
}
.HBcontent:after{
    content: "";
    position: absolute;
    right: -4px;
    width: 112px;
    bottom: -1px;
    height: 100px;
    background-size: cover;
    background-image: url(../img/HB/RW.png);
}
.HB2maxBox .HBcontent .checkboxDiv.inputDiv{
    border:none;
}
.HB2maxBox .HBbtn{
    margin-top: 18px;
    margin-bottom: 12px;
}

.checkboxContent{
	display: inline-block;
}

.checkboxContent{
    width:calc(100% - 85px) ;
    width:-webkit-calc(100% - 85px);
    width: -moz-calc(100% - 85px);
}
.checkboxContent li{
    width: 100%;
    box-sizing: border-box;
	margin-bottom: 10px;
   /* height: 24px;*/
}

.HBcontent .inputDiv{
	border: none;
}

.HBcontent .inputDiv.radioBox .radioA{
	float: inherit;
	display: inline-block;
	text-align: left;
	padding-top: 0;
	height: auto;
	line-height: 30px;
}

.HBcontent .inputDiv.radioBox .txt{
	height: 30px;
	line-height: 30px;
	vertical-align: top;
}



.HBcontent .choiceTime,input[type="date"]{
    box-sizing: border-box;
    -webkit-appearance: none;
    border: none;
    width:calc(100% - 90px) ;
    width:-webkit-calc(100% - 90px);
    height: 100%;
	color: #ccc;
	border-bottom: 1px solid #e9e9eb;
	text-align: right;
	margin-left: 15px;
    border-radius: 0;
    vertical-align: top;

}

.HBcontent input::placeholder{
	color: #ccc;
}

.more{
	display: none;
    position: relative;
    height: 100%;
}

/*.more:before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 0;
	width: 7px;
	height: 13px;
	background: url("../../img/gengduo-@3x.png") no-repeat;
	background-size: 7px 13px;
}*/
.item .ativePeople{
	display: inline-block;
    color: #fff;
    width: 18px;
    height: 18px;
    font-size:0.9rem;
}
a:hover, a:visited, a:link, a:active {
   color: #fff;
}
